fstcomp/modification/xmlParser/featureModification.dtd

<!ELEMENT modificationComposition (modification*)>
<!ELEMENT modification (modType, baseFSTTraversal, modContent)>
<!ELEMENT modType ("change"|"rewrite")>
<!ELEMENT FSTNodeType (#PCDATA)>
<!ELEMENT FSTTraversal (#PCDATA)>
<!ELEMENT content ((#PCDATA | externInput)+)>
<!ELEMENT externInput (#PCDATA)>